
.movies-search {
	max-width: 950px;
	margin: auto;
	padding: 25px;
	overflow: hidden;
}

.movies-search .search-box {
	margin-bottom: 25px;
}

.movies-search .search-results {
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: -25px;
	text-align: left;
}

.movies-search .search-results:empty {
	display: none;
}

.movies-search .search-error {
	color: #b4b6bc;
}

.movies-search .search-error:empty {
	display: none;
}
.movies-search .search-results:empty ~ .infinite-loader {
	display: none;
}
